<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ycdev.android.demo.activitytask">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.demo.Standard1Activity"
            android:launchMode="standard" />
        <activity
            android:name=".ui.demo.Standard2Activity"
            android:launchMode="standard"
            android:taskAffinity="me.ycdev.task2" />
        <activity
            android:name=".ui.demo.Standard3Activity"
            android:launchMode="standard"
            android:taskAffinity="" />

        <activity
            android:name=".ui.demo.SingleTop1Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.demo.SingleTop2Activity"
            android:launchMode="singleTop"
            android:taskAffinity="me.ycdev.task2" />
        <activity
            android:name=".ui.demo.SingleTop3Activity"
            android:launchMode="singleTop"
            android:taskAffinity="" />

        <activity
            android:name=".ui.demo.SingleTask1Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.demo.SingleTask2Activity"
            android:launchMode="singleTask"
            android:taskAffinity="me.ycdev.task2" />
        <activity
            android:name=".ui.demo.SingleTask3Activity"
            android:launchMode="singleTask"
            android:taskAffinity="" />

        <activity
            android:name=".ui.demo.SingleInstance1Activity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.demo.SingleInstance2Activity"
            android:launchMode="singleInstance"
            android:taskAffinity="me.ycdev.task2" />
        <activity
            android:name=".ui.demo.SingleInstance3Activity"
            android:launchMode="singleInstance"
            android:taskAffinity="" />
    </application>

</manifest>